<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link rel="stylesheet" href="static/styles.css">    
        <title>Crop Loss Prediction</title>
</head>
<body>
    <div class="banner">
        <h2>Crop Loss Prediction</h2>
    </div>
    <div class="link-grid">
        <a href="/">Home</a>
        <a href="/overtheyears">Over The Years</a>
        <a href="/corr">Explore Correlations</a>
        <a href="/total">Total Food Loss</a>
    </div>
    <div>
        <h3>Anticipate Loss, Empower Policy, Strengthen Food Security. &#x1F33E;</h3>
    </div>
    {% block body %} {% endblock %}
</body>
</html>